# Project Setting
.vscode/
sample
.DS_Store

# temporary files
build*/
*.o
*.stash
Makefile
*.pro.user

# Python Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python Temporary Files
__pycache__/
.fake